.one{
  height: 40px;
  width: 100px;
  font-size: 20px;
  background-color: red;
  color: white;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}
.one:hover{
  background-color: rgb(198, 198, 238);
  height: 45px;
  width: 105px;

}
.one:active{
  background-color: blue;
  height: 40px;
  width: 100px;

}